<div class="card border-danger mb-3 mt-3 mx-3">
    <div class="card-header text-center fw-bolder">Listado de coches</div>
    <div class="card-body">
        <div class="my-2 text-left">
            <button class="btn btn-rounded btn-primary mb-3"  routerLink="/coches/form">Crear coche</button>
        </div>

        <table class="table table-bordered table-striped text-center mx-3">
            <thead>
                <tr>
                    <th>Matrícula</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Fecha Matriculación</th>
                    <th>Bastidor</th>
                    <th>Editar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let coche of coches">
                    <td>{{coche.matricula}}</td>
                    <td>{{coche.marca}}</td>
                    <td>{{coche.modelo}}</td>
                    <td>{{coche.fechaMatriculacion}}</td>
                    <td>{{coche.bastidor}}</td>
                    <td>
                        <button type="button" name="button" [routerLink]="['/coches/form', coche.matricula]" class="btn btn-primary">Editar</button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>